# Visual Studio files
.vs/
*.vsidx
*.db
*.db-shm
*.db-wal
BE/Med_API/.vs/Med_API/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
BE/Med_API/.vs/Med_API/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
BE/Med_API/.vs/Med_API/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
BE/Med_API/.vs/Med_API/DesignTimeBuild/.dtbcache.v2
BE/Med_API/.vs/Med_API/FileContentIndex/715cd498-6362-4d10-b958-7ed424bde5a0.vsidx
BE/Med_API/.vs/Med_API/FileContentIndex/df3a3703-e5ef-49c6-92b6-3af8c96dcb0f.vsidx
BE/Med_API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
BE/Med_API/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
BE/Med_API/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
BE/Med_API/DB/obj/Debug/net8.0/DB.AssemblyInfo.cs
BE/Med_API/DB/obj/Debug/net8.0/DB.AssemblyInfoInputs.cache
BE/Med_API/Repo/obj/Debug/net8.0/Repo.AssemblyInfo.cs
BE/Med_API/Repo/obj/Debug/net8.0/Repo.AssemblyInfoInputs.cache
BE/Med_API/Repo/obj/Debug/net8.0/Repo.csproj.AssemblyReference.cache
BE/Med_API/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
BE/Med_API/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
BE/Med_API/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
FE/medical/package-lock.json
BE/Med_API/.vs/Med_API/DesignTimeBuild/.dtbcache.v2
BE/Med_API/.vs/Med_API/FileContentIndex/715cd498-6362-4d10-b958-7ed424bde5a0.vsidx
BE/Med_API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
BE/Med_API/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
BE/Med_API/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
BE/Med_API/DB/obj/Debug/net8.0/DB.AssemblyInfo.cs
BE/Med_API/DB/obj/Debug/net8.0/DB.AssemblyInfoInputs.cache
BE/Med_API/Repo/obj/Debug/net8.0/Repo.AssemblyInfo.cs
BE/Med_API/Repo/obj/Debug/net8.0/Repo.AssemblyInfoInputs.cache
BE/Med_API/Repo/obj/Debug/net8.0/Repo.csproj.AssemblyReference.cache
BE/Med_API/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
BE/Med_API/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
BE/Med_API/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
FE/medical/package-lock.json

