USE [master]
GO
/****** Object:  Database [Medical]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE DATABASE [Medical]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medical', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Medical.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medical_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Medical_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medical].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medical]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[StaffID] [int] NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentType] [varchar](50) NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[Status] [varchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA24A1FE88D] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[Category] [nvarchar](50) NULL,
	[Status] [varchar](20) NULL,
	[StaffUsername] [varchar](50) NULL,
 CONSTRAINT [PK__Blog__54379E30A73F0B1A] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[GradeLevel] [int] NOT NULL,
	[Section] [nvarchar](10) NULL,
	[Description] [nvarchar](100) NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudentCount] [int] NULL,
	[ClassTeacher] [nvarchar](50) NULL,
	[ClassRoom] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Class__CB1927C0123456789] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard_Summary]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard_Summary](
	[SummaryID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[GeneratedDate] [datetime] NULL,
	[TotalInjectionParticipants] [int] NULL,
	[TotalInjectionNonParticipants] [int] NULL,
	[InjectionParticipationRate] [decimal](5, 2) NULL,
	[TotalHealthCheckParticipants] [int] NULL,
	[TotalHealthCheckNonParticipants] [int] NULL,
	[HealthCheckParticipationRate] [decimal](5, 2) NULL,
	[TotalHealthEvents] [int] NULL,
	[TotalMedicineRequests] [int] NULL,
	[TotalAppointments] [int] NULL,
	[ScheduledAppointments] [int] NULL,
	[CompletedAppointments] [int] NULL,
	[TotalMedicineItems] [int] NULL,
	[TotalSupplyItems] [int] NULL,
	[InjectionFormID] [int] NULL,
	[HealthCheckFormID] [int] NULL,
	[HealthEventID] [int] NULL,
	[MedicineRequestID] [int] NULL,
	[AppointmentID] [int] NULL,
	[MedicineID] [int] NULL,
	[SupplyID] [int] NULL,
 CONSTRAINT [PK__Dashboar__DAB10E0FE883130D] PRIMARY KEY CLUSTERED 
(
	[SummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeNurse]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeNurse](
	[GradeNurseId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_GradeNurse] PRIMARY KEY CLUSTERED 
(
	[GradeNurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Check_Form]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Check_Form](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ConsentStatus] [varchar](20) NULL,
	[ConsentDate] [datetime] NULL,
	[GradeLevel] [int] NULL,
	[ClassName] [nvarchar](50) NULL,
	[ConfirmStatus] [varchar](20) NULL,
	[ConfirmedBy] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
	[AutoAdvance] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[EstimatedDuration] [int] NULL,
	[EstimatedEndTime] [nvarchar](max) NULL,
	[GenerateReport] [bit] NULL,
	[GradeIds] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[NotifyParents] [bit] NULL,
	[RequireParentConfirmation] [bit] NULL,
	[SaveResults] [bit] NULL,
	[ScheduledDate] [datetime2](7) NULL,
	[SelectedStations] [nvarchar](max) NULL,
	[StaffAssigned] [nvarchar](max) NULL,
	[StartTime] [time](7) NULL,
	[Status] [varchar](50) NULL,
	[Title] [nvarchar](max) NULL,
	[TotalStudents] [int] NULL,
 CONSTRAINT [PK__Health_C__FB05B7BD3533D90A] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Check_Result]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Check_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[FormID] [int] NULL,
	[StudentID] [int] NULL,
	[ExaminedBy] [int] NULL,
	[ExaminedDate] [datetime] NOT NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[VisionRight] [nvarchar](20) NULL,
	[VisionLeft] [nvarchar](20) NULL,
	[HearingStatus] [nvarchar](50) NULL,
	[BloodPressure] [nvarchar](20) NULL,
	[HeartRate] [int] NULL,
	[GeneralFindings] [nvarchar](1000) NULL,
	[Recommendations] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Health_C__97690228CF51D4A0] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[EventDate] [datetime] NOT NULL,
	[EventType] [varchar](50) NOT NULL,
	[Symptoms] [nvarchar](500) NULL,
	[Assessment] [nvarchar](1000) NULL,
	[Treatment] [nvarchar](1000) NULL,
	[ParentNotified] [bit] NULL,
	[FollowUpRequired] [bit] NULL,
	[Notes] [nvarchar](500) NULL,
	[StudentCode] [varchar](20) NULL,
	[Severity] [varchar](20) NULL,
	[InsufficientItems] [nvarchar](max) NULL,
	[InsufficientItemsNote] [nvarchar](max) NULL,
 CONSTRAINT [PK__Health_E__7944C870BB836071] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event_Medical_Supply]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event_Medical_Supply](
	[HealthEventMedicalSupplyID] [int] IDENTITY(1,1) NOT NULL,
	[HealthEventID] [int] NOT NULL,
	[MedicalSupplyID] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NULL,
	[Time] [nvarchar](50) NULL,
	[MedicalSupplyName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Health_Event_Medical_Supply] PRIMARY KEY CLUSTERED 
(
	[HealthEventMedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event_Medicine]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event_Medicine](
	[HealthEventMedicineID] [int] IDENTITY(1,1) NOT NULL,
	[HealthEventID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Dosage] [nvarchar](100) NULL,
	[Time] [nvarchar](50) NULL,
	[MedicineName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Health_Event_Medicine] PRIMARY KEY CLUSTERED 
(
	[HealthEventMedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Profile]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Profile](
	[HealthProfileID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[BloodType] [varchar](5) NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[HasAllergies] [bit] NULL,
	[AllergyDetails] [nvarchar](1000) NULL,
	[HasChronicDiseases] [bit] NULL,
	[ChronicDetails] [nvarchar](1000) NULL,
	[HasPreviousTreatment] [bit] NULL,
	[TreatmentDetails] [nvarchar](1000) NULL,
	[HasCompleteVaccinations] [varchar](10) NULL,
	[VaccinationDetails] [nvarchar](1000) NULL,
	[Vaccinations] [nvarchar](1000) NULL,
	[HasVisionIssues] [bit] NULL,
	[LeftEye] [nvarchar](20) NULL,
	[RightEye] [nvarchar](20) NULL,
	[VisionNotes] [nvarchar](1000) NULL,
	[HasHearingIssues] [bit] NULL,
	[LeftEar] [nvarchar](100) NULL,
	[RightEar] [nvarchar](100) NULL,
	[HearingNotes] [nvarchar](1000) NULL,
	[EmergencyContact] [nvarchar](255) NULL,
	[OtherInfo] [nvarchar](1000) NULL,
	[LastUpdated] [datetime] NULL,
	[BloodPressure] [nvarchar](20) NULL,
	[HeartRate] [int] NULL,
 CONSTRAINT [PK__Health_P__73C2C2B5FF5B2341] PRIMARY KEY CLUSTERED 
(
	[HealthProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Record]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Record](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[HealthEventId] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[EventType] [varchar](50) NOT NULL,
	[Severity] [varchar](20) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Treatment] [nvarchar](1000) NULL,
	[Outcome] [nvarchar](1000) NULL,
	[EventDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Health_Record] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckItem]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[EstimatedTimeMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_HealthCheckItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckItemMedicalSupply]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckItemMedicalSupply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HealthCheckItemID] [int] NOT NULL,
	[MedicalSupplyID] [int] NOT NULL,
	[QuantityRequired] [decimal](10, 2) NOT NULL,
	[IsOptional] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_HealthCheckItemMedicalSupply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthEventFollowUp]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthEventFollowUp](
	[FollowUpID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_HealthEventFollowUp] PRIMARY KEY CLUSTERED 
(
	[FollowUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Injection_Form]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injection_Form](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[InjectionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ConsentStatus] [varchar](20) NULL,
	[ConsentDate] [datetime] NULL,
	[GradeLevel] [int] NULL,
	[ClassName] [nvarchar](50) NULL,
	[ConfirmStatus] [varchar](20) NULL,
	[ConfirmedBy] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
	[VaccineId] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[EstimatedDuration] [int] NULL,
	[GradeIds] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[NotifyParents] [bit] NULL,
	[RequireParentConfirmation] [bit] NULL,
	[ScheduledDate] [datetime2](7) NULL,
	[StartTime] [time](7) NULL,
	[TotalStudents] [int] NULL,
	[ClassDetailsJson] [nvarchar](max) NULL,
	[HealthProfilesJson] [nvarchar](max) NULL,
	[StudentDetailsJson] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK__Injectio__FB05B7BDEC6DF4D0] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Injection_Result]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injection_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[FormID] [int] NULL,
	[StudentID] [int] NULL,
	[AdministeredBy] [int] NULL,
	[AdministeredDate] [datetime] NOT NULL,
	[ImmediateReaction] [nvarchar](255) NULL,
	[FollowUpRequired] [bit] NULL,
	[FollowUpNotes] [nvarchar](255) NULL,
 CONSTRAINT [PK__Injectio__9769022834983DA5] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Supply]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Supply](
	[SupplyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[StockQuantity] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Medical___7CDD6C8E0BF90B60] PRIMARY KEY CLUSTERED 
(
	[SupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StockQuantity] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[AdministrationMethod] [nvarchar](50) NULL,
	[BatchNumber] [nvarchar](100) NULL,
	[Dose] [nvarchar](50) NULL,
	[ExpiryDate] [date] NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK__Medicine__4F2128F091736C4F] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine_Request]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine_Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [varchar](20) NULL,
	[RequestDate] [datetime] NULL,
	[ParentID] [int] NULL,
	[StaffID] [int] NULL,
	[StudentCode] [varchar](20) NULL,
	[ClassName] [nvarchar](50) NULL,
	[RefusalReason] [nvarchar](500) NULL,
	[FailureReason] [nvarchar](max) NULL,
	[IsResent] [bit] NOT NULL,
	[OriginalRequestId] [int] NULL,
	[AdministrationNotes] [nvarchar](max) NULL,
	[AdministrationStartedBy] [int] NULL,
	[AdministrationStartedDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Medicine__33A8519AA6EED751] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine_Request_Item]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine_Request_Item](
	[MedicineRequestItemID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineRequestID] [int] NOT NULL,
	[MedicineName] [nvarchar](100) NOT NULL,
	[Dosage] [nvarchar](100) NOT NULL,
	[Frequency] [nvarchar](100) NOT NULL,
	[TimeOfDay] [nvarchar](100) NULL,
	[Instructions] [nvarchar](500) NULL,
	[Period] [nvarchar](max) NULL,
	[VerificationStatus] [nvarchar](max) NOT NULL,
	[DosageUnit] [nvarchar](50) NULL,
 CONSTRAINT [PK_Medicine_Request_Item] PRIMARY KEY CLUSTERED 
(
	[MedicineRequestItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[ParentID] [int] NULL,
	[StudentCode] [varchar](20) NULL,
	[StaffID] [int] NULL,
	[HealthEventID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ReadAt] [datetime] NULL,
	[AdditionalData] [nvarchar](2000) NULL,
 CONSTRAINT [PK__Notification__20CF2E32] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Relationship] [varchar](20) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Occupation] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsEmergencyContact] [bit] NULL,
	[IsMainContact] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Parent__D339510FC35C248C] PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Result]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NULL,
	[Status] [varchar](20) NOT NULL,
	[SubmittedAt] [datetime] NULL,
	[AdministeredBy] [int] NULL,
	[AdministeredTime] [datetime] NULL,
	[ActionBy] [int] NULL,
	[AdministeredFrequencies] [nvarchar](1000) NULL,
	[CurrentDate] [date] NULL,
	[CurrentDayCount] [int] NULL,
	[Frequency] [nvarchar](20) NULL,
	[TimesPerDay] [int] NULL,
	[FailedAttempts] [int] NULL,
	[FailedFrequencies] [nvarchar](1000) NULL,
	[FailureReasons] [nvarchar](2000) NULL,
	[IsReRequest] [bit] NOT NULL,
	[LastAttemptTime] [datetime] NULL,
	[OriginalRequestResultID] [int] NULL,
	[ReRequestReason] [nvarchar](500) NULL,
 CONSTRAINT [PK__Request___97690228392A5FD6] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Permissions] [int] NOT NULL,
 CONSTRAINT [PK__Role__8AFACE1A12345678] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActiveForRequest] [bit] NOT NULL,
 CONSTRAINT [PK__Staff__96D4AAF731254C53] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[ClassID] [int] NULL,
 CONSTRAINT [PK__Student__32C52A7964894850] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Parent]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Parent](
	[StudentParentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[ParentID] [int] NOT NULL,
 CONSTRAINT [PK_Student_Parent] PRIMARY KEY CLUSTERED 
(
	[StudentParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 7/30/2025 8:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[VaccineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[BatchNumber] [nvarchar](100) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Dose] [nvarchar](50) NULL,
	[AdministrationMethod] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Vaccine] PRIMARY KEY CLUSTERED 
(
	[VaccineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250613195322_InitialCreate', N'8.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250613210359_RemoveReportTable', N'8.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250613211827_AddBlogEntity', N'8.0.5')
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [Summary], [ImageUrl], [CreatedDate], [LastModifiedDate], [Category], [Status], [StaffUsername]) VALUES (2, N'Health Tips for Students', N'Regular exercise and healthy eating...', NULL, NULL, CAST(N'2024-03-19T08:00:00.000' AS DateTime), NULL, NULL, N'1', N'nurse1')
INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [Summary], [ImageUrl], [CreatedDate], [LastModifiedDate], [Category], [Status], [StaffUsername]) VALUES (3, N'Importance of Vaccination', N'Vaccination helps prevent diseases...', NULL, NULL, CAST(N'2024-03-19T09:00:00.000' AS DateTime), NULL, NULL, N'1', N'nurse2')
INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [Summary], [ImageUrl], [CreatedDate], [LastModifiedDate], [Category], [Status], [StaffUsername]) VALUES (4, N'Mental Health Awareness', N'Taking care of mental health is crucial...', NULL, NULL, CAST(N'2024-03-19T10:00:00.000' AS DateTime), NULL, NULL, N'1', N'nurse3')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [GradeLevel], [Section], [Description], [MaxStudents], [CurrentStudentCount], [ClassTeacher], [ClassRoom], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'1A', 1, N'A', NULL, 30, 30, N'Cô Nguyễn Thị Lan', N'Phòng 101', 1, CAST(N'2025-07-08T17:36:59.620' AS DateTime), NULL)
INSERT [dbo].[Class] ([ClassID], [ClassName], [GradeLevel], [Section], [Description], [MaxStudents], [CurrentStudentCount], [ClassTeacher], [ClassRoom], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'1B', 1, N'B', NULL, 30, 30, N'Cô Trần Thị Mai', N'Phòng 102', 1, CAST(N'2025-07-08T17:36:59.620' AS DateTime), NULL)
INSERT [dbo].[Class] ([ClassID], [ClassName], [GradeLevel], [Section], [Description], [MaxStudents], [CurrentStudentCount], [ClassTeacher], [ClassRoom], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'1C', 1, N'C', NULL, 30, 30, N'Cô Lê Thị Hoa', N'Phòng 103', 1, CAST(N'2025-07-08T17:36:59.620' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[GradeNurse] ON 

INSERT [dbo].[GradeNurse] ([GradeNurseId], [StaffId], [Grade]) VALUES (2, 10, 1)
INSERT [dbo].[GradeNurse] ([GradeNurseId], [StaffId], [Grade]) VALUES (3, 11, 2)
INSERT [dbo].[GradeNurse] ([GradeNurseId], [StaffId], [Grade]) VALUES (4, 12, 3)
SET IDENTITY_INSERT [dbo].[GradeNurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Health_Profile] ON 

SET IDENTITY_INSERT [dbo].[Health_Profile] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCheckItem] ON 

INSERT [dbo].[HealthCheckItem] ([ItemID], [Code], [Name], [Category], [Description], [EstimatedTimeMinutes], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (1, N'HCI001', N'Chiều cao & Cân nặng', N'Khám thể lực', N'Kiểm tra thể lực', 5, 1, CAST(N'2025-07-09T09:13:21.063' AS DateTime), CAST(N'2025-07-09T09:53:50.823' AS DateTime))
INSERT [dbo].[HealthCheckItem] ([ItemID], [Code], [Name], [Category], [Description], [EstimatedTimeMinutes], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (2, N'HCI002', N'Thị lực', N'Khám giác quan', N'Kiểm tra thị lực, gần và xa màu sắc', 10, 1, CAST(N'2025-07-09T09:13:21.063' AS DateTime), NULL)
INSERT [dbo].[HealthCheckItem] ([ItemID], [Code], [Name], [Category], [Description], [EstimatedTimeMinutes], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (3, N'HCI003', N'Thính lực', N'Khám giác quan', N'Kiểm tra khả năng nghe và phân biệt âm thanh', 8, 1, CAST(N'2025-07-09T09:13:21.063' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HealthCheckItem] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCheckItemMedicalSupply] ON 

INSERT [dbo].[HealthCheckItemMedicalSupply] ([Id], [HealthCheckItemID], [MedicalSupplyID], [QuantityRequired], [IsOptional], [Notes]) VALUES (25, 1, 88, CAST(1.00 AS Decimal(10, 2)), 0, N'Đo chiều cao bắt buộc')
INSERT [dbo].[HealthCheckItemMedicalSupply] ([Id], [HealthCheckItemID], [MedicalSupplyID], [QuantityRequired], [IsOptional], [Notes]) VALUES (26, 1, 89, CAST(1.00 AS Decimal(10, 2)), 0, N'Cân nặng bắt buộc')
INSERT [dbo].[HealthCheckItemMedicalSupply] ([Id], [HealthCheckItemID], [MedicalSupplyID], [QuantityRequired], [IsOptional], [Notes]) VALUES (27, 1, 90, CAST(1.00 AS Decimal(10, 2)), 1, N'Đo chu vi ngực')
SET IDENTITY_INSERT [dbo].[HealthCheckItemMedicalSupply] OFF
GO
SET IDENTITY_INSERT [dbo].[Medical_Supply] ON 

INSERT [dbo].[Medical_Supply] ([SupplyID], [Name], [Category], [Description], [StockQuantity], [IsActive]) VALUES (11, N'Bandages', N'Sơ Cứu', N'Băng dính tiêu chuẩn', CAST(86.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Medical_Supply] ([SupplyID], [Name], [Category], [Description], [StockQuantity], [IsActive]) VALUES (12, N'Gạc', N'Sơ Cứu', N'Băng gạc vô trùng 4x4', CAST(40.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Medical_Supply] ([SupplyID], [Name], [Category], [Description], [StockQuantity], [IsActive]) VALUES (13, N'Khăn lau sát trùng', N'Sơ Cứu', N'Khăn lau sát trùng gốc cồn', CAST(75.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Medical_Supply] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MedicineID], [Name], [StockQuantity], [IsActive], [AdministrationMethod], [BatchNumber], [Dose], [ExpiryDate], [Manufacturer], [Type]) VALUES (11, N'Paracetamol 500mg', CAST(78.00 AS Decimal(10, 2)), 1, N'hand', N'AX123', N'100mg', CAST(N'2026-08-08' AS Date), N'ABCtm', N'pilll')
INSERT [dbo].[Medicine] ([MedicineID], [Name], [StockQuantity], [IsActive], [AdministrationMethod], [BatchNumber], [Dose], [ExpiryDate], [Manufacturer], [Type]) VALUES (12, N'Ibuprofen 400mg', CAST(66.00 AS Decimal(10, 2)), 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Medicine] ([MedicineID], [Name], [StockQuantity], [IsActive], [AdministrationMethod], [BatchNumber], [Dose], [ExpiryDate], [Manufacturer], [Type]) VALUES (13, N'Amoxicillin 250mg', CAST(43.00 AS Decimal(10, 2)), 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentID], [FirstName], [LastName], [Relationship], [Phone], [Email], [Address], [Occupation], [Password], [IsEmergencyContact], [IsMainContact], [IsActive]) VALUES (13, N'Parent', N'One', N'Father', N'0123457001', N'lequangan210401@gmail.com', N'456 Street 1', N'Engineer', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 1, 1)
INSERT [dbo].[Parent] ([ParentID], [FirstName], [LastName], [Relationship], [Phone], [Email], [Address], [Occupation], [Password], [IsEmergencyContact], [IsMainContact], [IsActive]) VALUES (14, N'Parent', N'Two', N'Mother', N'0123457002', N'parent2@email.com', N'456 Street 2', N'Teacher', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 0, 1)
INSERT [dbo].[Parent] ([ParentID], [FirstName], [LastName], [Relationship], [Phone], [Email], [Address], [Occupation], [Password], [IsEmergencyContact], [IsMainContact], [IsActive]) VALUES (15, N'Parent', N'Three', N'Father', N'0123457003', N'parent3@email.com', N'456 Street 3', N'Doctor', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 0, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Permissions]) VALUES (4, N'Admin', 3)
INSERT [dbo].[Role] ([RoleID], [RoleName], [Permissions]) VALUES (5, N'Manager', 2)
INSERT [dbo].[Role] ([RoleID], [RoleName], [Permissions]) VALUES (6, N'Nurse', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [RoleID], [FirstName], [LastName], [Email], [Phone], [Username], [PasswordHash], [IsActiveForRequest]) VALUES (8, 4, N'Admin', N'User', N'admin@school.com', N'0123456789', N'admin1', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1)
INSERT [dbo].[Staff] ([StaffID], [RoleID], [FirstName], [LastName], [Email], [Phone], [Username], [PasswordHash], [IsActiveForRequest]) VALUES (9, 5, N'Manager', N'One', N'manager1@school.com', N'0123456781', N'manager1', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1)
INSERT [dbo].[Staff] ([StaffID], [RoleID], [FirstName], [LastName], [Email], [Phone], [Username], [PasswordHash], [IsActiveForRequest]) VALUES (10, 6, N'Nguyễn', N'Thị Lan', N'nguyenthilan@gmail.com', N'0123456782', N'nurse1', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [StudentCode], [FirstName], [LastName], [DateOfBirth], [Gender], [Address], [Password], [IsActive], [ClassID]) VALUES (4, N'STU001', N'Student', N'One', CAST(N'2010-01-01' AS Date), N'Male', N'123 Street 1', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 13)
INSERT [dbo].[Student] ([StudentID], [StudentCode], [FirstName], [LastName], [DateOfBirth], [Gender], [Address], [Password], [IsActive], [ClassID]) VALUES (5, N'STU002', N'Student', N'Two', CAST(N'2010-02-02' AS Date), N'Female', N'123 Street 2', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 13)
INSERT [dbo].[Student] ([StudentID], [StudentCode], [FirstName], [LastName], [DateOfBirth], [Gender], [Address], [Password], [IsActive], [ClassID]) VALUES (6, N'STU003', N'Student', N'Three', CAST(N'2010-03-03' AS Date), N'Male', N'123 Street 3', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 13)
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Student_Parent] ON 

INSERT [dbo].[Student_Parent] ([StudentParentID], [StudentCode], [ParentID]) VALUES (1, N'STU001', 13)
INSERT [dbo].[Student_Parent] ([StudentParentID], [StudentCode], [ParentID]) VALUES (2, N'STU0011', 23)
INSERT [dbo].[Student_Parent] ([StudentParentID], [StudentCode], [ParentID]) VALUES (3, N'STU0012', 24)
GO
SET IDENTITY_INSERT [dbo].[Student_Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccine] ON 

INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Manufacturer], [BatchNumber], [ExpiryDate], [Dose], [AdministrationMethod], [Description], [IsActive]) VALUES (1, N'Comirnaty (Pfizer-BioNTech)', N'Pfizer', N'B12345', CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), N'0.3ml', N'IM', N'COVID-19 mRNA vaccine', 1)
INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Manufacturer], [BatchNumber], [ExpiryDate], [Dose], [AdministrationMethod], [Description], [IsActive]) VALUES (2, N'Vaxzevria (AstraZeneca)', N'AstraZeneca', N'A67890', CAST(N'2025-10-15T00:00:00.0000000' AS DateTime2), N'0.5ml', N'IM', N'COVID-19 viral vector vaccine', 1)
INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Manufacturer], [BatchNumber], [ExpiryDate], [Dose], [AdministrationMethod], [Description], [IsActive]) VALUES (3, N'Moderna Spikevax', N'Moderna', N'M54321', CAST(N'2026-01-20T00:00:00.0000000' AS DateTime2), N'0.5ml', N'IM', N'COVID-19 mRNA vaccine', 1)
SET IDENTITY_INSERT [dbo].[Vaccine] OFF
GO
/****** Object:  Index [IX_Appointment_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_ParentID] ON [dbo].[Appointment]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_StaffID] ON [dbo].[Appointment]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_StudentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_StudentID] ON [dbo].[Appointment]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Blog_StaffUsername]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Blog_StaffUsername] ON [dbo].[Blog]
(
	[StaffUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Class__Name_Grade_Section]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Class__Name_Grade_Section] ON [dbo].[Class]
(
	[ClassName] ASC,
	[GradeLevel] ASC,
	[Section] ASC
)
WHERE ([Section] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dashboard_Summary_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dashboard_Summary_StaffID] ON [dbo].[Dashboard_Summary]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GradeNurse_StaffId]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_GradeNurse_StaffId] ON [dbo].[GradeNurse]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_ConfirmedBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_ConfirmedBy] ON [dbo].[Health_Check_Form]
(
	[ConfirmedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_ParentID] ON [dbo].[Health_Check_Form]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_StudentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_StudentID] ON [dbo].[Health_Check_Form]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_ExaminedBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_ExaminedBy] ON [dbo].[Health_Check_Result]
(
	[ExaminedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_FormID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_FormID] ON [dbo].[Health_Check_Result]
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_StudentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_StudentID] ON [dbo].[Health_Check_Result]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_StaffID] ON [dbo].[Health_Event]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Health_Event_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_StudentCode] ON [dbo].[Health_Event]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medical_Supply_HealthEventID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medical_Supply_HealthEventID] ON [dbo].[Health_Event_Medical_Supply]
(
	[HealthEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medical_Supply_MedicalSupplyID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medical_Supply_MedicalSupplyID] ON [dbo].[Health_Event_Medical_Supply]
(
	[MedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medicine_HealthEventID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medicine_HealthEventID] ON [dbo].[Health_Event_Medicine]
(
	[HealthEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medicine_MedicineID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medicine_MedicineID] ON [dbo].[Health_Event_Medicine]
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Health_Profile_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Profile_StudentCode] ON [dbo].[Health_Profile]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Record_CreatedBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Record_CreatedBy] ON [dbo].[Health_Record]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Record_HealthEventId]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Record_HealthEventId] ON [dbo].[Health_Record]
(
	[HealthEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Health_Record_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Record_StudentCode] ON [dbo].[Health_Record]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Record_UpdatedBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Record_UpdatedBy] ON [dbo].[Health_Record]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HealthCheckItem_Code]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HealthCheckItem_Code] ON [dbo].[HealthCheckItem]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCheckItemMedicalSupply_HealthCheckItemID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthCheckItemMedicalSupply_HealthCheckItemID] ON [dbo].[HealthCheckItemMedicalSupply]
(
	[HealthCheckItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCheckItemMedicalSupply_MedicalSupplyID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthCheckItemMedicalSupply_MedicalSupplyID] ON [dbo].[HealthCheckItemMedicalSupply]
(
	[MedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthEventFollowUp_EventID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthEventFollowUp_EventID] ON [dbo].[HealthEventFollowUp]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthEventFollowUp_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthEventFollowUp_StaffID] ON [dbo].[HealthEventFollowUp]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_ConfirmedBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_ConfirmedBy] ON [dbo].[Injection_Form]
(
	[ConfirmedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_ParentID] ON [dbo].[Injection_Form]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_StudentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_StudentID] ON [dbo].[Injection_Form]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_AdministeredBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_AdministeredBy] ON [dbo].[Injection_Result]
(
	[AdministeredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_FormID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_FormID] ON [dbo].[Injection_Result]
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_StudentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_StudentID] ON [dbo].[Injection_Result]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_ParentID] ON [dbo].[Medicine_Request]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_StaffID] ON [dbo].[Medicine_Request]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Medicine_Request_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_StudentCode] ON [dbo].[Medicine_Request]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_Item_MedicineRequestID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_Item_MedicineRequestID] ON [dbo].[Medicine_Request_Item]
(
	[MedicineRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_HealthEventID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_HealthEventID] ON [dbo].[Notification]
(
	[HealthEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_ParentID] ON [dbo].[Notification]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_StaffID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_StaffID] ON [dbo].[Notification]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notification_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_StudentCode] ON [dbo].[Notification]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_ActionBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_ActionBy] ON [dbo].[Request_Result]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_AdministeredBy]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_AdministeredBy] ON [dbo].[Request_Result]
(
	[AdministeredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_OriginalRequestResultID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_OriginalRequestResultID] ON [dbo].[Request_Result]
(
	[OriginalRequestResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_RequestID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_RequestID] ON [dbo].[Request_Result]
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B616058FE1837]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Role__8A2B616058FE1837] ON [dbo].[Role]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Staff_Username]    Script Date: 7/30/2025 8:40:10 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [AK_Staff_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_RoleID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_RoleID] ON [dbo].[Staff]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__536C85E4FC5C7093]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Staff__536C85E4FC5C7093] ON [dbo].[Staff]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D10534AFE18051]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Staff__A9D10534AFE18051] ON [dbo].[Staff]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Student_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [AK_Student_StudentCode] UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_ClassID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_ClassID] ON [dbo].[Student]
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__1FC8860437093A19]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Student__1FC8860437093A19] ON [dbo].[Student]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_Parent_ParentID]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Parent_ParentID] ON [dbo].[Student_Parent]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Student_Parent_StudentCode]    Script Date: 7/30/2025 8:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Parent_StudentCode] ON [dbo].[Student_Parent]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Class] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Class] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalInjectionParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalInjectionNonParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0.0)) FOR [InjectionParticipationRate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthCheckParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthCheckNonParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0.0)) FOR [HealthCheckParticipationRate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthEvents]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalMedicineRequests]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [ScheduledAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [CompletedAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalMedicineItems]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalSupplyItems]
GO
ALTER TABLE [dbo].[Health_Check_Form] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Health_Check_Form] ADD  DEFAULT ('Pending') FOR [ConsentStatus]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (getdate()) FOR [EventDate]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ParentNotified]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FollowUpRequired]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT ('moderate') FOR [Severity]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasAllergies]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasChronicDiseases]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPreviousTreatment]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasVisionIssues]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasHearingIssues]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Health_Record] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Health_Record] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[HealthCheckItem] ADD  DEFAULT ((10)) FOR [EstimatedTimeMinutes]
GO
ALTER TABLE [dbo].[HealthCheckItem] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[HealthCheckItem] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply] ADD  DEFAULT ((1.0)) FOR [QuantityRequired]
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOptional]
GO
ALTER TABLE [dbo].[HealthEventFollowUp] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Injection_Form] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Injection_Form] ADD  DEFAULT ('Pending') FOR [ConsentStatus]
GO
ALTER TABLE [dbo].[Medical_Supply] ADD  DEFAULT ((0.0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Medical_Supply] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT ((0.0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicine_Request] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Medicine_Request] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Medicine_Request] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsResent]
GO
ALTER TABLE [dbo].[Medicine_Request_Item] ADD  DEFAULT (N'') FOR [VerificationStatus]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (N'sent') FOR [Status]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (N'medium') FOR [Priority]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmergencyContact]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMainContact]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Request_Result] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Request_Result] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[Request_Result] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsReRequest]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [Permissions]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActiveForRequest]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vaccine] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Parent_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Parent_ParentID]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Staff_StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Staff_StaffID]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Student_StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Student_StudentID]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK__Blog__StaffUsername] FOREIGN KEY([StaffUsername])
REFERENCES [dbo].[Staff] ([Username])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK__Blog__StaffUsername]
GO
ALTER TABLE [dbo].[Dashboard_Summary]  WITH CHECK ADD  CONSTRAINT [FK__Dashboard_Summary__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Dashboard_Summary] CHECK CONSTRAINT [FK__Dashboard_Summary__StaffID]
GO
ALTER TABLE [dbo].[GradeNurse]  WITH CHECK ADD  CONSTRAINT [FK_GradeNurse_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GradeNurse] CHECK CONSTRAINT [FK_GradeNurse_Staff_StaffId]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__ConfirmedBy] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__ConfirmedBy]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__ParentID]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__StudentID]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__ExaminedBy] FOREIGN KEY([ExaminedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__ExaminedBy]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__FormID] FOREIGN KEY([FormID])
REFERENCES [dbo].[Health_Check_Form] ([FormID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__FormID]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__StudentID]
GO
ALTER TABLE [dbo].[Health_Event]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Health_Event] CHECK CONSTRAINT [FK__Health_Event__StaffID]
GO
ALTER TABLE [dbo].[Health_Event]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Health_Event] CHECK CONSTRAINT [FK__Health_Event__StudentCode]
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medical_Supply__HealthEventID] FOREIGN KEY([HealthEventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply] CHECK CONSTRAINT [FK__Health_Event_Medical_Supply__HealthEventID]
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medical_Supply__MedicalSupplyID] FOREIGN KEY([MedicalSupplyID])
REFERENCES [dbo].[Medical_Supply] ([SupplyID])
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply] CHECK CONSTRAINT [FK__Health_Event_Medical_Supply__MedicalSupplyID]
GO
ALTER TABLE [dbo].[Health_Event_Medicine]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medicine__HealthEventID] FOREIGN KEY([HealthEventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Event_Medicine] CHECK CONSTRAINT [FK__Health_Event_Medicine__HealthEventID]
GO
ALTER TABLE [dbo].[Health_Event_Medicine]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medicine__MedicineID] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[Health_Event_Medicine] CHECK CONSTRAINT [FK__Health_Event_Medicine__MedicineID]
GO
ALTER TABLE [dbo].[Health_Profile]  WITH CHECK ADD  CONSTRAINT [FK__Health_Profile__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Profile] CHECK CONSTRAINT [FK__Health_Profile__StudentCode]
GO
ALTER TABLE [dbo].[Health_Record]  WITH CHECK ADD  CONSTRAINT [FK__HealthRecord__CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Record] CHECK CONSTRAINT [FK__HealthRecord__CreatedBy]
GO
ALTER TABLE [dbo].[Health_Record]  WITH CHECK ADD  CONSTRAINT [FK__HealthRecord__HealthEventID] FOREIGN KEY([HealthEventId])
REFERENCES [dbo].[Health_Event] ([EventID])
GO
ALTER TABLE [dbo].[Health_Record] CHECK CONSTRAINT [FK__HealthRecord__HealthEventID]
GO
ALTER TABLE [dbo].[Health_Record]  WITH CHECK ADD  CONSTRAINT [FK__HealthRecord__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
GO
ALTER TABLE [dbo].[Health_Record] CHECK CONSTRAINT [FK__HealthRecord__StudentCode]
GO
ALTER TABLE [dbo].[Health_Record]  WITH CHECK ADD  CONSTRAINT [FK__HealthRecord__UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Record] CHECK CONSTRAINT [FK__HealthRecord__UpdatedBy]
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply]  WITH CHECK ADD  CONSTRAINT [FK_HealthCheckItemMedicalSupply_HealthCheckItem] FOREIGN KEY([HealthCheckItemID])
REFERENCES [dbo].[HealthCheckItem] ([ItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply] CHECK CONSTRAINT [FK_HealthCheckItemMedicalSupply_HealthCheckItem]
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply]  WITH CHECK ADD  CONSTRAINT [FK_HealthCheckItemMedicalSupply_MedicalSupply] FOREIGN KEY([MedicalSupplyID])
REFERENCES [dbo].[Medical_Supply] ([SupplyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthCheckItemMedicalSupply] CHECK CONSTRAINT [FK_HealthCheckItemMedicalSupply_MedicalSupply]
GO
ALTER TABLE [dbo].[HealthEventFollowUp]  WITH CHECK ADD  CONSTRAINT [FK__HealthEventFollowUp__EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthEventFollowUp] CHECK CONSTRAINT [FK__HealthEventFollowUp__EventID]
GO
ALTER TABLE [dbo].[HealthEventFollowUp]  WITH CHECK ADD  CONSTRAINT [FK__HealthEventFollowUp__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[HealthEventFollowUp] CHECK CONSTRAINT [FK__HealthEventFollowUp__StaffID]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__ConfirmedBy] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__ConfirmedBy]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__ParentID]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__StudentID]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__AdministeredBy] FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__AdministeredBy]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__FormID] FOREIGN KEY([FormID])
REFERENCES [dbo].[Injection_Form] ([FormID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__FormID]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__StudentID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__ParentID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__StaffID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__StudentCode]
GO
ALTER TABLE [dbo].[Medicine_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request_Item__MedicineRequestID] FOREIGN KEY([MedicineRequestID])
REFERENCES [dbo].[Medicine_Request] ([RequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medicine_Request_Item] CHECK CONSTRAINT [FK__Medicine_Request_Item__MedicineRequestID]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notification__HealthEventID] FOREIGN KEY([HealthEventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notification__HealthEventID]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notification__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notification__ParentID]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notification__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notification__StaffID]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notification__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notification__StudentCode]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__ActionBy]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__AdministeredBy] FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__AdministeredBy]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__OriginalRequestResultID] FOREIGN KEY([OriginalRequestResultID])
REFERENCES [dbo].[Request_Result] ([ResultID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__OriginalRequestResultID]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__RequestID] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Medicine_Request] ([RequestID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__RequestID]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role_RoleID]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [FK__Student__ClassID] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__ClassID]
GO
ALTER TABLE [dbo].[Student_Parent]  WITH NOCHECK ADD  CONSTRAINT [FK_StudentParent_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Student_Parent] CHECK CONSTRAINT [FK_StudentParent_Parent]
GO
ALTER TABLE [dbo].[Student_Parent]  WITH NOCHECK ADD  CONSTRAINT [FK_StudentParent_Student] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
GO
ALTER TABLE [dbo].[Student_Parent] CHECK CONSTRAINT [FK_StudentParent_Student]
GO
USE [master]
GO
