USE [master]
GO
/****** Object:  Database [Medical]    Script Date: 6/18/2025 6:02:57 AM ******/
CREATE DATABASE [Medical]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medical', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medical.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medical_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medical_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medical].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medical]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[StaffID] [int] NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentType] [varchar](50) NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[Status] [varchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA24A1FE88D] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[Category] [nvarchar](50) NULL,
	[Status] [varchar](20) NULL,
	[StaffUsername] [varchar](50) NULL,
 CONSTRAINT [PK__Blog__54379E30A73F0B1A] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard_Summary]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard_Summary](
	[SummaryID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[GeneratedDate] [datetime] NULL,
	[TotalInjectionParticipants] [int] NULL,
	[TotalInjectionNonParticipants] [int] NULL,
	[InjectionParticipationRate] [decimal](5, 2) NULL,
	[TotalHealthCheckParticipants] [int] NULL,
	[TotalHealthCheckNonParticipants] [int] NULL,
	[HealthCheckParticipationRate] [decimal](5, 2) NULL,
	[TotalHealthEvents] [int] NULL,
	[TotalMedicineRequests] [int] NULL,
	[TotalAppointments] [int] NULL,
	[ScheduledAppointments] [int] NULL,
	[CompletedAppointments] [int] NULL,
	[TotalMedicineItems] [int] NULL,
	[TotalSupplyItems] [int] NULL,
	[InjectionFormID] [int] NULL,
	[HealthCheckFormID] [int] NULL,
	[HealthEventID] [int] NULL,
	[MedicineRequestID] [int] NULL,
	[AppointmentID] [int] NULL,
	[MedicineID] [int] NULL,
	[SupplyID] [int] NULL,
 CONSTRAINT [PK__Dashboar__DAB10E0FE883130D] PRIMARY KEY CLUSTERED 
(
	[SummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Check_Form]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Check_Form](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ConsentStatus] [varchar](20) NULL,
	[ConsentDate] [datetime] NULL,
	[GradeLevel] [int] NULL,
	[ClassName] [nvarchar](50) NULL,
	[ConfirmStatus] [varchar](20) NULL,
	[ConfirmedBy] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
 CONSTRAINT [PK__Health_C__FB05B7BD3533D90A] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Check_Result]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Check_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[FormID] [int] NULL,
	[StudentID] [int] NULL,
	[ExaminedBy] [int] NULL,
	[ExaminedDate] [datetime] NOT NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[VisionRight] [nvarchar](20) NULL,
	[VisionLeft] [nvarchar](20) NULL,
	[HearingStatus] [nvarchar](50) NULL,
	[BloodPressure] [nvarchar](20) NULL,
	[HeartRate] [int] NULL,
	[GeneralFindings] [nvarchar](1000) NULL,
	[Recommendations] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Health_C__97690228CF51D4A0] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[EventDate] [datetime] NOT NULL,
	[EventType] [varchar](50) NOT NULL,
	[Symptoms] [nvarchar](500) NULL,
	[Assessment] [nvarchar](1000) NULL,
	[Treatment] [nvarchar](1000) NULL,
	[ParentNotified] [bit] NULL,
	[FollowUpRequired] [bit] NULL,
	[Notes] [nvarchar](500) NULL,
	[StudentCode] [varchar](20) NULL,
 CONSTRAINT [PK__Health_E__7944C870BB836071] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event_Medical_Supply]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event_Medical_Supply](
	[HealthEventMedicalSupplyID] [int] IDENTITY(1,1) NOT NULL,
	[HealthEventID] [int] NOT NULL,
	[MedicalSupplyID] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NULL,
	[Time] [nvarchar](50) NULL,
 CONSTRAINT [PK_Health_Event_Medical_Supply] PRIMARY KEY CLUSTERED 
(
	[HealthEventMedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Event_Medicine]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Event_Medicine](
	[HealthEventMedicineID] [int] IDENTITY(1,1) NOT NULL,
	[HealthEventID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Dosage] [nvarchar](100) NULL,
	[Time] [nvarchar](50) NULL,
 CONSTRAINT [PK_Health_Event_Medicine] PRIMARY KEY CLUSTERED 
(
	[HealthEventMedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_Profile]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Profile](
	[HealthProfileID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[BloodType] [varchar](5) NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[HasAllergies] [bit] NULL,
	[AllergyDetails] [nvarchar](1000) NULL,
	[HasChronicDiseases] [bit] NULL,
	[ChronicDetails] [nvarchar](1000) NULL,
	[HasPreviousTreatment] [bit] NULL,
	[TreatmentDetails] [nvarchar](1000) NULL,
	[HasCompleteVaccinations] [varchar](10) NULL,
	[VaccinationDetails] [nvarchar](1000) NULL,
	[Vaccinations] [nvarchar](1000) NULL,
	[HasVisionIssues] [bit] NULL,
	[LeftEye] [nvarchar](20) NULL,
	[RightEye] [nvarchar](20) NULL,
	[VisionNotes] [nvarchar](1000) NULL,
	[HasHearingIssues] [bit] NULL,
	[LeftEar] [nvarchar](100) NULL,
	[RightEar] [nvarchar](100) NULL,
	[HearingNotes] [nvarchar](1000) NULL,
	[EmergencyContact] [nvarchar](255) NULL,
	[OtherInfo] [nvarchar](1000) NULL,
	[LastUpdated] [datetime] NULL,
	[BloodPressure] [nvarchar](20) NULL,
	[HeartRate] [int] NULL,
 CONSTRAINT [PK__Health_P__73C2C2B5FF5B2341] PRIMARY KEY CLUSTERED 
(
	[HealthProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Injection_Form]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injection_Form](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ParentID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[InjectionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ConsentStatus] [varchar](20) NULL,
	[ConsentDate] [datetime] NULL,
	[GradeLevel] [int] NULL,
	[ClassName] [nvarchar](50) NULL,
	[ConfirmStatus] [varchar](20) NULL,
	[ConfirmedBy] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
 CONSTRAINT [PK__Injectio__FB05B7BDEC6DF4D0] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Injection_Result]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injection_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[FormID] [int] NULL,
	[StudentID] [int] NULL,
	[AdministeredBy] [int] NULL,
	[AdministeredDate] [datetime] NOT NULL,
	[ImmediateReaction] [nvarchar](255) NULL,
	[FollowUpRequired] [bit] NULL,
	[FollowUpNotes] [nvarchar](255) NULL,
 CONSTRAINT [PK__Injectio__9769022834983DA5] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Supply]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Supply](
	[SupplyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[StockQuantity] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Medical___7CDD6C8E0BF90B60] PRIMARY KEY CLUSTERED 
(
	[SupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StockQuantity] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Medicine__4F2128F091736C4F] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine_Request]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine_Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[RequestDate] [datetime] NULL,
	[ParentID] [int] NULL,
	[StaffID] [int] NULL,
	[StudentCode] [varchar](20) NULL,
	[ClassName] [nvarchar](50) NULL,
 CONSTRAINT [PK__Medicine__33A8519AA6EED751] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine_Request_Item]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine_Request_Item](
	[MedicineRequestItemID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineRequestID] [int] NOT NULL,
	[MedicineName] [nvarchar](100) NOT NULL,
	[Dosage] [nvarchar](100) NOT NULL,
	[Frequency] [nvarchar](100) NOT NULL,
	[TimeOfDay] [nvarchar](100) NULL,
	[Instructions] [nvarchar](500) NULL,
	[MedicationImagePath] [nvarchar](255) NULL,
	[PrescriptionImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Medicine_Request_Item] PRIMARY KEY CLUSTERED 
(
	[MedicineRequestItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Relationship] [varchar](20) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Occupation] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsEmergencyContact] [bit] NULL,
	[IsMainContact] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Parent__D339510FC35C248C] PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Result]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NULL,
	[Status] [varchar](20) NOT NULL,
	[SubmittedAt] [datetime] NULL,
	[AdministeredBy] [int] NULL,
	[AdministeredTime] [datetime] NULL,
	[ActionBy] [int] NULL,
 CONSTRAINT [PK__Request___97690228392A5FD6] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Permissions] [int] NOT NULL,
 CONSTRAINT [PK__Role__8AFACE1A12345678] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Staff__96D4AAF731254C53] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_Staff_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[GradeLevel] [int] NOT NULL,
	[ClassName] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Student__32C52A7964894850] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_Student_StudentCode] UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Parent]    Script Date: 6/18/2025 6:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Parent](
	[StudentParentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](20) NOT NULL,
	[ParentID] [int] NOT NULL,
 CONSTRAINT [PK_Student_Parent] PRIMARY KEY CLUSTERED 
(
	[StudentParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_ParentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_ParentID] ON [dbo].[Appointment]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_StaffID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_StaffID] ON [dbo].[Appointment]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_StudentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_StudentID] ON [dbo].[Appointment]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Blog_StaffUsername]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Blog_StaffUsername] ON [dbo].[Blog]
(
	[StaffUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dashboard_Summary_StaffID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Dashboard_Summary_StaffID] ON [dbo].[Dashboard_Summary]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_ConfirmedBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_ConfirmedBy] ON [dbo].[Health_Check_Form]
(
	[ConfirmedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_ParentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_ParentID] ON [dbo].[Health_Check_Form]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Form_StudentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Form_StudentID] ON [dbo].[Health_Check_Form]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_ExaminedBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_ExaminedBy] ON [dbo].[Health_Check_Result]
(
	[ExaminedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_FormID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_FormID] ON [dbo].[Health_Check_Result]
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Check_Result_StudentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Check_Result_StudentID] ON [dbo].[Health_Check_Result]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_StaffID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_StaffID] ON [dbo].[Health_Event]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Health_Event_StudentCode]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_StudentCode] ON [dbo].[Health_Event]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medical_Supply_HealthEventID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medical_Supply_HealthEventID] ON [dbo].[Health_Event_Medical_Supply]
(
	[HealthEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medical_Supply_MedicalSupplyID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medical_Supply_MedicalSupplyID] ON [dbo].[Health_Event_Medical_Supply]
(
	[MedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medicine_HealthEventID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medicine_HealthEventID] ON [dbo].[Health_Event_Medicine]
(
	[HealthEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Health_Event_Medicine_MedicineID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Event_Medicine_MedicineID] ON [dbo].[Health_Event_Medicine]
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Health_Profile_StudentCode]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Health_Profile_StudentCode] ON [dbo].[Health_Profile]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_ConfirmedBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_ConfirmedBy] ON [dbo].[Injection_Form]
(
	[ConfirmedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_ParentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_ParentID] ON [dbo].[Injection_Form]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Form_StudentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Form_StudentID] ON [dbo].[Injection_Form]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_AdministeredBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_AdministeredBy] ON [dbo].[Injection_Result]
(
	[AdministeredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_FormID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_FormID] ON [dbo].[Injection_Result]
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Injection_Result_StudentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Injection_Result_StudentID] ON [dbo].[Injection_Result]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_ParentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_ParentID] ON [dbo].[Medicine_Request]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_StaffID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_StaffID] ON [dbo].[Medicine_Request]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Medicine_Request_StudentCode]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_StudentCode] ON [dbo].[Medicine_Request]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicine_Request_Item_MedicineRequestID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Medicine_Request_Item_MedicineRequestID] ON [dbo].[Medicine_Request_Item]
(
	[MedicineRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_ActionBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_ActionBy] ON [dbo].[Request_Result]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_AdministeredBy]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_AdministeredBy] ON [dbo].[Request_Result]
(
	[AdministeredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Result_RequestID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Result_RequestID] ON [dbo].[Request_Result]
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B616058FE1837]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Role__8A2B616058FE1837] ON [dbo].[Role]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_RoleID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_RoleID] ON [dbo].[Staff]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__536C85E4FC5C7093]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Staff__536C85E4FC5C7093] ON [dbo].[Staff]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D10534AFE18051]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Staff__A9D10534AFE18051] ON [dbo].[Staff]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__1FC8860437093A19]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Student__1FC8860437093A19] ON [dbo].[Student]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_Parent_ParentID]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Parent_ParentID] ON [dbo].[Student_Parent]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Student_Parent_StudentCode]    Script Date: 6/18/2025 6:02:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Parent_StudentCode] ON [dbo].[Student_Parent]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalInjectionParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalInjectionNonParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0.0)) FOR [InjectionParticipationRate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthCheckParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthCheckNonParticipants]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0.0)) FOR [HealthCheckParticipationRate]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalHealthEvents]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalMedicineRequests]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [ScheduledAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [CompletedAppointments]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalMedicineItems]
GO
ALTER TABLE [dbo].[Dashboard_Summary] ADD  DEFAULT ((0)) FOR [TotalSupplyItems]
GO
ALTER TABLE [dbo].[Health_Check_Form] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Health_Check_Form] ADD  DEFAULT ('Pending') FOR [ConsentStatus]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (getdate()) FOR [EventDate]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ParentNotified]
GO
ALTER TABLE [dbo].[Health_Event] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FollowUpRequired]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasAllergies]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasChronicDiseases]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPreviousTreatment]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasVisionIssues]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasHearingIssues]
GO
ALTER TABLE [dbo].[Health_Profile] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Injection_Form] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Injection_Form] ADD  DEFAULT ('Pending') FOR [ConsentStatus]
GO
ALTER TABLE [dbo].[Medical_Supply] ADD  DEFAULT ((0.0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Medical_Supply] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT ((0.0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicine_Request] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Medicine_Request] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmergencyContact]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMainContact]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Request_Result] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [Permissions]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Parent_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Parent_ParentID]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Staff_StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Staff_StaffID]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Student_StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Student_StudentID]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK__Blog__StaffUsername] FOREIGN KEY([StaffUsername])
REFERENCES [dbo].[Staff] ([Username])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK__Blog__StaffUsername]
GO
ALTER TABLE [dbo].[Dashboard_Summary]  WITH CHECK ADD  CONSTRAINT [FK__Dashboard_Summary__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Dashboard_Summary] CHECK CONSTRAINT [FK__Dashboard_Summary__StaffID]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__ConfirmedBy] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__ConfirmedBy]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__ParentID]
GO
ALTER TABLE [dbo].[Health_Check_Form]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Form__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Health_Check_Form] CHECK CONSTRAINT [FK__Health_Check_Form__StudentID]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__ExaminedBy] FOREIGN KEY([ExaminedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__ExaminedBy]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__FormID] FOREIGN KEY([FormID])
REFERENCES [dbo].[Health_Check_Form] ([FormID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__FormID]
GO
ALTER TABLE [dbo].[Health_Check_Result]  WITH CHECK ADD  CONSTRAINT [FK__Health_Check_Result__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Health_Check_Result] CHECK CONSTRAINT [FK__Health_Check_Result__StudentID]
GO
ALTER TABLE [dbo].[Health_Event]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Health_Event] CHECK CONSTRAINT [FK__Health_Event__StaffID]
GO
ALTER TABLE [dbo].[Health_Event]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Health_Event] CHECK CONSTRAINT [FK__Health_Event__StudentCode]
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medical_Supply__HealthEventID] FOREIGN KEY([HealthEventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply] CHECK CONSTRAINT [FK__Health_Event_Medical_Supply__HealthEventID]
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medical_Supply__MedicalSupplyID] FOREIGN KEY([MedicalSupplyID])
REFERENCES [dbo].[Medical_Supply] ([SupplyID])
GO
ALTER TABLE [dbo].[Health_Event_Medical_Supply] CHECK CONSTRAINT [FK__Health_Event_Medical_Supply__MedicalSupplyID]
GO
ALTER TABLE [dbo].[Health_Event_Medicine]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medicine__HealthEventID] FOREIGN KEY([HealthEventID])
REFERENCES [dbo].[Health_Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Event_Medicine] CHECK CONSTRAINT [FK__Health_Event_Medicine__HealthEventID]
GO
ALTER TABLE [dbo].[Health_Event_Medicine]  WITH CHECK ADD  CONSTRAINT [FK__Health_Event_Medicine__MedicineID] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[Health_Event_Medicine] CHECK CONSTRAINT [FK__Health_Event_Medicine__MedicineID]
GO
ALTER TABLE [dbo].[Health_Profile]  WITH CHECK ADD  CONSTRAINT [FK__Health_Profile__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Health_Profile] CHECK CONSTRAINT [FK__Health_Profile__StudentCode]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__ConfirmedBy] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__ConfirmedBy]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__ParentID]
GO
ALTER TABLE [dbo].[Injection_Form]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Form__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Injection_Form] CHECK CONSTRAINT [FK__Injection_Form__StudentID]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__AdministeredBy] FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__AdministeredBy]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__FormID] FOREIGN KEY([FormID])
REFERENCES [dbo].[Injection_Form] ([FormID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__FormID]
GO
ALTER TABLE [dbo].[Injection_Result]  WITH CHECK ADD  CONSTRAINT [FK__Injection_Result__StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Injection_Result] CHECK CONSTRAINT [FK__Injection_Result__StudentID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__ParentID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__StaffID]
GO
ALTER TABLE [dbo].[Medicine_Request]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request__StudentCode] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
GO
ALTER TABLE [dbo].[Medicine_Request] CHECK CONSTRAINT [FK__Medicine_Request__StudentCode]
GO
ALTER TABLE [dbo].[Medicine_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK__Medicine_Request_Item__MedicineRequestID] FOREIGN KEY([MedicineRequestID])
REFERENCES [dbo].[Medicine_Request] ([RequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medicine_Request_Item] CHECK CONSTRAINT [FK__Medicine_Request_Item__MedicineRequestID]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__ActionBy]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__AdministeredBy] FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__AdministeredBy]
GO
ALTER TABLE [dbo].[Request_Result]  WITH CHECK ADD  CONSTRAINT [FK__Request_Result__RequestID] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Medicine_Request] ([RequestID])
GO
ALTER TABLE [dbo].[Request_Result] CHECK CONSTRAINT [FK__Request_Result__RequestID]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role_RoleID]
GO
ALTER TABLE [dbo].[Student_Parent]  WITH CHECK ADD  CONSTRAINT [FK_StudentParent_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Student_Parent] CHECK CONSTRAINT [FK_StudentParent_Parent]
GO
ALTER TABLE [dbo].[Student_Parent]  WITH CHECK ADD  CONSTRAINT [FK_StudentParent_Student] FOREIGN KEY([StudentCode])
REFERENCES [dbo].[Student] ([StudentCode])
GO
ALTER TABLE [dbo].[Student_Parent] CHECK CONSTRAINT [FK_StudentParent_Student]
GO
USE [master]
GO
